@using Orchard.CRM.Core.ViewModels;
@{
    // Generate AntiForgeryToken
}
@using (Html.BeginFormAntiForgeryPost())
{
}
<h1 >@T("Email Templates")</h1>
<div class="manage">
    <a class="button primaryAction" href="@Url.Action("Create", "EmailTemplate", new { area = "Orchard.CRM.Core"})">@T("Create")</a>
</div>
<table class="items" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th scope="col">@T("Name")</th>
            <th scope="col">@T("Subject")</th>
            <th scope="col">@T("Type")</th>
            <th scope="col">@T("Links")</th>
        </tr>
    </thead>
    <tbody>
        @{
            bool alternative = true;
            foreach (var item in Model)
            {
                string alternativeClass = alternative ? "alt" : string.Empty;

                alternative = !alternative;
                <tr class="@alternativeClass">
                    <td>
                        @item.Name
                    </td>
                    <td>@item.Subject</td>
                    <td>@T(item.TypeName)</td>
                    <td>
                        <a href="@Url.Action("Edit", "EmailTemplate", new { area = "Orchard.CRM.Core", id = item.EmailTemplateId })">@T("Edit")</a> |
                        <a href="@Url.Action("Remove", "EmailTemplate", new { area = "Orchard.CRM.Core", id = item.EmailTemplateId })" itemprop = "RemoveUrl UnsafeUrl">@T("Remove")</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


