@using System.Globalization;
@using Orchard.CRM.Core.ViewModels;
@{
    var model = (TeamMembersViewModel)Model.Model;
}
<ul id="teamMembers" data-jq-widget="TeamUsers">
    @foreach (var user in model.TeamMembers)
    {
        <li class="teamMember" data-id="@user.Id">@user.UserPartRecord.UserName<a class="delete" data-id="@user.Id" href="@Url.Action("Remove","Item", new { area = "Orchard.CRM.Core", id = user.Id })">@T("Delete")</a></li>
    }
</ul>
