@using Orchard.CRM.Core.Models;
@using Orchard.ContentManagement;
@using Orchard.Users.Models;
@{
    Orchard.ContentManagement.ContentItem contentItem = (Orchard.ContentManagement.ContentItem)Model.ContentItem;
    var businessUnitMember = ContentExtensions.As <BusinessUnitMemberPart>(contentItem);
    var user = businessUnitMember.User;
}
<li class="businessUnitMember" data-id="@user.Id">@user.UserName<a class="delete" data-id="@user.Id" href="@Url.Action("Remove", "Item", new { area = "Orchard.CRM.Core", id = businessUnitMember.Id})">@T("Delete")</a></li>

