<div>
    <div class="">
        <span>@T("Date")</span>
        <span>@Model.Model.TrackingDate</span>
    </div>
    <div class="">
        <span>@T("Log work")</span>
        <span>@Model.Model.OriginalTimeTrackingString</span>
    </div>
    <div class="">
        <span>@T("User")</span>
        <span>@Model.Model.FullUsername</span>
    </div>
    <div class="">
        <span>@T("Comment")</span>
        <span>@Model.Model.Comment</span>
    </div>
</div>