@using Orchard.CRM.Core.Models;
@using Orchard.CRM.Core.Services;
@using Orchard.CRM.Core.ViewModels;
@{
    CommentsViewModel model = (CommentsViewModel)Model.Model;
    string id = model.ContentItemId.ToString();
    string imageDefaultSource = Url.Content("~/Modules/Orchard.CRM.Project/Styles/Images/user-icon-small.jpg");
    string classes = Model.Classes != null ? string.Join(" ", Model.Classes) : string.Empty;
}
<div class="@classes ">
    <div class="project-crm-comments">
        <ul class="ticket-edit-project-crm-comments">
            @foreach (var item in model.Comments)
            {
                string userProfileUrl = Url.Action("Display", "User", new { area = "Orchard.CRM.Project", userId = item.User.Id });
                <li>
                    <div class="user">
                        @Display.UserThumbnail(userId: item.User.Id, width: 48, height: 48, source: imageDefaultSource, userProfileUrl: userProfileUrl)
                        <div>
                            <a class="user-link" href="@userProfileUrl">@CRMHelper.GetFullNameOfUser(item.User)</a>
                        </div>
                        <div class="published">@item.CommentDateUtc.Value.ToString("MMM dd") &nbsp; @item.CommentDateUtc.Value.ToString("hh:mm")</div>
                        <div class="user-context-menu">
                            @Display(New.SkypeTooltip(Model: item.User, Topic: item.CommentText))
                        </div>
                    </div>
                    <div class="item-comment">@item.CommentText</div>
                </li>
            }
        </ul>
    </div>
    @using (Html.BeginFormAntiForgeryPost(Url.Action("Add", "CRMComment", new { area = "Orchard.CRM.Core", returnUrl = Request.Url }), FormMethod.Post))
    {
        <div class="add-crm-comments-host">
            <div class="add-crm-comments">
                <div class="user">
                    @Display(New.UserThumbnail(userId: model.CurrentUser.Id, width: 48, height: 48, source: Url.Content("~/Modules/Orchard.CRM.Project/Styles/Images/user-icon-small.jpg")))
                </div>
                <div class="new-comment">
                    <textarea class="ticket-area" name="comment"></textarea>
                    <input type="hidden" value="@id" name="contentId" />
                    <div><input type="submit" class="btn btn-primary" value="@T("Add Comment")" /></div>
                </div>
            </div>
        </div>
    }
</div>
@using (Script.Foot())
{
    Script.Require("JQueryUI");
    Script.Require("ProjectWidgets");
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(".project-crm-comments").Skype({
                userLinkCssClass: "user-link",
                mainContainerClass: "project-crm-comments",
                subContainerClass: "user",
                contextMenuCssClass: "user-context-menu",
                contextMenuCloseButtonClass: "user-context-menu-close"
            });
        });
    </script>
}
