<h1>@T("CRM Basic Data")</h1>
<div>
    <a href="@Url.Action("Priorities", "BasicData", new { area = "Orchard.CRM.Core" })">@T("Priorities")</a>
</div>
<div>
    <a href="@Url.Action("TicketTypes", "BasicData", new { area = "Orchard.CRM.Core" })">@T("Ticket Types")</a>
</div>
<div>
    <a href="@Url.Action("Services", "BasicData", new { area = "Orchard.CRM.Core" })">@T("Services")</a>
</div>
<div>
    <a href="@Url.Action("BusinessUnits", "Organization", new { area = "Orchard.CRM.Core" })">@T("Business Units")</a>
</div>
<div>
    <a href="@Url.Action("Index", "EmailTemplate", new { area = "Orchard.CRM.Core" })">@T("Email Templates")</a>
</div>