@using Orchard.CRM.Core.ViewModels;
@Display(New.Stylesheet())
@{
    IEnumerable<TicketTypeViewModel> model = (IEnumerable<TicketTypeViewModel>)Model;
}

@{
    // Generate AntiForgeryToken
}
@using (Html.BeginFormAntiForgeryPost())
{
}
<h1 >@T("Ticket Types")</h1>
<div class="manage">
    <a class="button primaryAction"  href="@Url.Action("CreateTicketType", "BasicData", new { area = "Orchard.CRM.Core"})">@T("Create")</a>
</div>
<table class="items" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th scope="col">@T("Name")</th>
            <th scope="col">@T("Order")</th>
            <th scope="col">@T("Links")</th>
        </tr>
    </thead>
    <tbody>
        @{
            bool alternative = true;
            foreach (var item in model)
            {
                string alternativeClass = alternative ? "alt" : string.Empty;

                alternative = !alternative;
                <tr class="@alternativeClass">
                    <td>
                        @item.Name
                    </td>
                    <td>@item.OrderId</td>
                    <td>
                        <a href="@Url.Action("EditTicketType", "BasicData", new { area = "Orchard.CRM.Core", id = item.TicketTypeId })">@T("Edit")</a> |
                        <a href="@Url.Action("RemoveTicketType", "BasicData", new { area = "Orchard.CRM.Core", id = item.TicketTypeId })" itemprop = "RemoveUrl UnsafeUrl">@T("Remove")</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

